.test01{
	height:100px;
	width:100px;
	background-color:red;
	position:relative;
	
}

.test02{
	height:50px;
	width:50px;
	background-color:yellow;
	position:absolute;
	float:right;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    font-size: 0;
    height:100px;
	background-color:black;
    }
 
.clearfix { 
   *display: inline-block; 
   _height: 1%;
}

.test03{
	height:100px;
	width:100px;
	background-color:red;
	
}